---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import "../../src/styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-blue-600 text-blue-600 ">
    <Header class="border-b border-gray-700" />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer class="border-t border-gray-700" />
  </body>
</html>
